:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1 {
    color: var(--base);
}

body {
    text-align: center;
    background: #193549;
    color: #fdfdfd;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}

img {
    width: 65%;
}

footer {
    font-size: 1rem;
}

footer a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: var(--base);
}

/* visited link */
a:visited {
    color: var(--base);
}

/* mouse over link */
a:hover {
    color: var(--base);
}

/* selected link */
a:active {
    color: var(--base);
}