/* Grid */
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px; 
}

/* Generic Style */
body {
    margin: 0 auto;
    max-width: 90em;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    color: #555;
}

header, footer {
    padding: 10px;
    text-align: center;
    color: #333;
}

main {
    max-width: 1080px;
    margin: 0 auto 30px;
}

main a {
    position: relative;
    height: 200px;
    box-shadow: 0 4px 6px 0 rgb(0, 0 ,0, 0.2);
}

main a img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

main a h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255);
    margin: 0;
    padding: 10px;
}

main a h1:hover {
    color: aliceblue;
}



